{% extends 'blog/base.html' %}
{% block title %} Django Blog | Posts {% endblock %}

{% block content %}
<h2 class="mb-4">Blog Posts</h2>

<a href="{% url 'create-post' %}" class="btn btn-primary mb-4">Create New Post</a>

{% if posts %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Author</th>
            <th scope="col">Published Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.content|truncatewords:10 }}</td>
            <td>{{ post.author.username }}</td>
            <td>{{ post.published_date|date:"F j, Y, g:i a" }}</td>
            <td>
                <a href="{% url 'post-detail' post.pk %}" class="btn btn-info btn-sm">View</a>
                <a href="{% url 'update-post' post.pk %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'comment' post.id %}" class="btn btn-secondary btn-sm">Comment</a>
            </td>
        </tr>
    </tbody>
        {% endfor %}
</table>
{% else %}
    <p>No posts available.</p>
{% endif %}



{% endblock %}