{% extends 'blog/base.html' %}
{% block title %} Django Blog | Posts {% endblock %}

{% block content %}
<h2 class="mb-4">Blog Posts</h2>

{% if posts %}
    <div class="list-group">
        {% for post in posts %}
            <a href="#" class="list-group-item list-group-item-action mb-2">
                <h5 class="mb-1">{{ post.title }}</h5>
                <p class="mb-1">{{ post.content|truncatewords:20 }}</p>
                <small>By {{ post.author.username }} on {{ post.published_date|date:"F j, Y, g:i a" }}</small>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>No posts available.</p>
{% endif %}

{% endblock %}